.filter {
    filter: brightness(60%);
    height: 70%;
    object-fit: cover;
}

.course img {
    width: 100px;
}

.think img {
    width: 100px;
}

.courses img {
    width: 100px;
}

@media only screen and (max-width: 575.98px) {
    p {
        font-weight: 50;
        font-size: xx-small;

    }

    .bla {
        font-weight: 300;
        font-size: larger;

    }





}